<html>
    <head>
    <title>InstaFriendzzzz</title>
    <style media="screen" type="text/css">

      html {
      background-color: #AAF0D1;
      }

      body {
      font-family: sans-serif;
      max-width: 500px;
      margin: auto;
      padding: 20px;
      margin-top: 10px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }

      .grrr {
        background-color: #FF9681;
        border-radius: 5px;
        padding: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        margin-top: 10px;
      }

    </style>
  </head>
  <body>
  <h1>Your Best Friends</h1>
  <div id="feed">
    <div class="growl">
        <h2> Your Best Friends </h2>


        {% for entry in friends_list %}
        <p>{{ entry }}</p>
        {% endfor %}

    </div>
  </div>
</body>
</html>

